
<ul class="nav" style="float:left">
  <li style="" >
    <a href="/">首頁</a>
  </li>
  <li style="" >
    <a target="_self" href="/md/Sandbox.md">樣板2</a>
  </li>
  <li style="" >
    <a target="_self" href="/addwiki">新頁面</a>
  </li>
</ul>

<% if (locals.session && locals.session.user && locals.session.user.username == 'admin'){ %>
<div style="color:white;float:right" ><a href="/logout">[LOGOUT]</a></div>
<% }else {%>
<div style="color:white;float:right;height:100%;padding-top:10px" ><a id="loginbar" href="#">[LOGIN]</a></div>
<% } %>