<ul class="nav" style="height:45px">
  <li style="padding-top:5px" >
    <a href="/">首頁</a>
  </li>
  <li style="padding-top:5px" >
    <a target="_self" href="/md/Sandbox.md">樣板2</a>
  </li>
  <li style="padding-top:5px" >
    <a target="_self" href="/addwiki">新頁面</a>
  </li>
</ul>