<!-- Sharethis links start -->
<div class="sns-share">
  <span class='st_facebook_hcount' displayText='Facebook'></span>
  <span class='st_googleplus_hcount' displayText='Google +'></span>
  <% if(!session['user']) { %>
  <input type="button" id="loginbar" name="loginbar" value="Login"/>
  <% } else { %>
  <input type="button" id="logoutbar" name="logoutbar" value="Logout"/>
  <% } %>
</div>
<!-- Sharethis links end -->


<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "28fff76a-fc8f-43a0-aad0-3172c83c10e1", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
